@import '~bootstrap/scss/bootstrap';
@import 'colors.scss';

body {
  background-color: $body-bg;
  color: $default-text-color;
}
.promovalidation {
  @extend .small;
  color: $validation-color;
}

// Heading Styles

h3,
h4 {
  margin-bottom: 1rem;
}

h3,
.modal-title {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.1rem;
}

// Menu - Background

.bg-dark {
  background-color: $validation-color !important;
}

// Button styles

.btn,
button {
  color: $default-text-color !important;
  background-color: $button-bg !important;
  border: none;
}

// Cart - Checkout dialog bog styles

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 720px;
  }
}

.modal-content {
  .modal-header,
  .modal-footer {
    justify-content: center;
    border: 0px;
  }
  .modal-body {
    .container {
      @include media-breakpoint-down(sm) {
        text-align: center !important;
      }
      .row {
        padding: 1rem;
        border-bottom: 1px solid $border-line;
        input {
          width: 50px;
        }
        .promoInput {
          width: 135px;
        }
      }
    }
  }
}

.modal-header .close {
  background-color: transparent !important;
}

// Center alignment - Placeholder text, Input text, Number input

::-webkit-input-placeholder,
:-moz-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
input[type='text'],
input[type='number'] {
  text-align: center;
}

// Text right - Tablet and Desktop devices

.txtright {
  @include media-breakpoint-up(md) {
    text-align: right;
  }
}
